<div class="header-container" [class.scrolled]="isScrolled || isHamburgerActive">
  <a (click)="scrollToSection(Section.Home)" class="logo"><img src="assets/images/logo.svg" alt="Logo"></a>

  <div class="hamburguer">
    <div class="btn not-active" (click)="toggleHamburger()"
         [ngClass]="{'active': isHamburgerActive, 'not-active': !isHamburgerActive}">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <nav class="navbar">
    <ul>
      <li><a (click)="scrollToSection(Section.About)" class="hover-underline-animation">SOBRE MI</a></li>
      <li><a (click)="scrollToSection(Section.Work)" class="hover-underline-animation">TRABAJOS</a></li>
      <li><a (click)="scrollToSection(Section.Contact)" class="hover-underline-animation">CONTACTO</a></li>
    </ul>
  </nav>
</div>

<span class="fullscreen-nav animate__animated"
      [ngClass]="{'animate__slideInLeft': isHamburgerActive, 'open': isHamburgerActive, 'animate__slideOutLeft': isHamburgerActive === false}">
  <div class="nav-container">
    <div class="links">
      <ng-container *ngFor="let section of Sections; let i = index">
        <a (click)="scrollToSection(section)"
           [style.animation-delay]="(0.3 * (i + 1)) + 's'"
           [ngClass]="{'animate__animated animate__slideInLeft': isHamburgerActive}">
          <span class="hover-underline-animation">{{ section }}</span>
        </a>
      </ng-container>
    </div>
    <div class="contact">
      <h3 [style.animation-delay]="'1.5s'"
          [ngClass]="{'animate__animated animate__lightSpeedInLeft': isHamburgerActive}">Let’s Connect!</h3>
      <div class="social">
        <a href="https://www.linkedin.com/in/aitorcalderon/"
           [style.animation-delay]="'1.1s'"
           [ngClass]="{'animate__animated animate__fadeInUpBig': isHamburgerActive}"><span
          class="hover-underline-animation">Linkedin</span></a>
        <a href="mailto:aitorclzamakola@gmail.com"
           [style.animation-delay]="'1.3s'"
           [ngClass]="{'animate__animated animate__fadeInUpBig': isHamburgerActive}"><span
          class="hover-underline-animation">Email</span></a>
        <a href="https://github.com/AitorCalderon99"
           [style.animation-delay]="'1.5s'"
           [ngClass]="{'animate__animated animate__fadeInUpBig': isHamburgerActive}"><span
          class="hover-underline-animation">Github</span></a>
      </div>
    </div>
  </div>
</span>
