<div class="header-container" [class.scrolled]="isScrolled">
  <img src="/assets/logo.svg" alt="Logo">

  <div class="hamburguer">
    <div class="btn not-active" (click)="toggleButton()" [ngClass]="{'active': isHamburgerActive, 'not-active': !isHamburgerActive}">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <nav class="navbar">
    <ul>
      <li><a href="#" class="hover-underline-animation">TRABAJOS</a></li>
      <li><a href="#" class="hover-underline-animation">SOBRE MI</a></li>
      <li><a href="#" class="hover-underline-animation">CONTACTO</a></li>
    </ul>
  </nav>
</div>


