// Colors
$primary-color: #00ADB5;
$secondary-color: #ECC30B;
$white-text: #FFFFFF;
$white-bg: #c5c5c5;
$black: #000000;

// Breakpoints
$breakpoints: (
  'small': 480px,
  'medium': 768px,
  'large': 1024px,
  'xlarge': 1200px
);

$view-height: 85vh;

@mixin media-query($breakpoint) {
  @if map-has-key($breakpoints, $breakpoint) {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  } @else {
    @warn "Breakpoint no definido: #{$breakpoint}.";
  }
}
