<app-header/>
<div class="scroll-container" #scrollContainer>
  <div id="{{Section.Home}}" #home class="section">
    <app-home></app-home>
  </div>
  <div id="{{Section.About}}" #about class="section">
    <app-about></app-about>
  </div>
  <div id="{{Section.Work}}" #work class="section">
    <app-work></app-work>
  </div>
  <div id="{{Section.Contact}}" #contact class="section">
    <app-contact></app-contact>
  </div>
  <div id="footer" #footer class="section">
    <app-footer></app-footer>
  </div>
</div>

<app-right-nav [scrollSection]="scrollSection" [sections]="sections"
               (sectionClick)="scrollToElement($event)"></app-right-nav>
