@import "../../styles/variables";

.home-container {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: $view-height;
  padding: 5em;

  .text-container {
    width: 95%;
    @include media-query('medium') {
      width: 75%;
    }
    text-transform: uppercase;

    h1, h3 {
      margin: 0;
    }

    h2 {
      display: flex;
      align-items: center;
      margin-bottom: 2px;
      flex-wrap: wrap;
      opacity: .92;
      font-size: 1.8em;

      @include media-query('medium') {
        font-size: 2.2em;
      }

      transform: rotate(-3deg);
      transform-origin: bottom left;
      font-family: $cursive-fonts, $default-fonts;

      .waving-hand {
        padding-right: 4px;
      }
    }

    p {
      font-size: 1.2em;
      text-align: justify;
    }
  }
}
